<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <title>MobCar - Alugar Carros</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- importando o arquivo css do Bootstrap --> 
  <link rel="stylesheet" href="/css/bootstrap.min.css">
 </head>
 <body>
  {{#if success_msg}}
      <div class="alert alert-success text-center">{{success_msg}}</div>
    {{/if}}
    {{#if error_msg}}
      <div class="alert alert-success text-center">{{error_msg}}</div>
    {{/if}}

 	 <h3 class="text-center text-uppercase mt-3">Calcular Aluguel</h3>

   
 	 <div class="container nav justify-content-end">
    {{#each carros}}
   <a href="/infoCarros/{{_id}}" class="btn btn-primary mb-3">Voltar</a>
   </div>

    <div class="container col-lg-10 col-9 bg-light rounded ">
      <div class="container row text-center">
         <div class="col-4 mt-5">
        <h4>Categoria: <small class="text-uppercase">{{categoria}}</small></h4>
        </div>
         <div class="col-4 mt-5">
        <h4>Valor Diário R$: <small class="text-uppercase" name="valor" value="">{{preco}}</small></h4>
        </div>
      </div>
      		<div class="container row text-center">
				<div class="col-8 mt-3">
					<h4>Dia do aluguel <small><input type="date" name="data" class="col-6" ></small></h4>
				</div>
				<div class="col-4 mt-3">
					<h4>Número de Dias <small><input type="number" name="dias" class="col-4" id="dias" min="1"></small></h4>
				</div>
      		</div>
      		<div class="container row text-center">
      			<div class="col-6 mt-3">
					<h4>Total a Pagar <small><input type="text" name='valorTotal' id="valorTotal" disabled="true" class=" col-4" value=""></small></h4>

          <input type="hidden" name="valor" id="valor" disabled="true" class=" col-4" value="{{preco}}">
          
          <form method="POST" action="/resCarros">

          <input type="hidden" name="_id"   value="{{_id}}">
          {{!-- <input type="text" name="reserva" id="reserva"   value="1"> --}}
				</div>
      		</div>
        
      <div class=" col-12 mt-3 pb-5">
        <button type="submit" class="btn btn-success float-right px-5 text-uppercase">Reservar</button>
      </form>
        <a href="/calAluguel" class="btn btn-success float-right px-5 mr-4 text-uppercase">Calcular</a> 
        {{!-- <a href="/calAluguel" class="btn btn-success float-right px-5 mr-4 text-uppercase" value="{{total}}">Calcular</a>  --}}
      </div>
   </div>
   {{else}}
     <h3 class="text-center">Sem Informações para Calcular Aluguel</h3>
   {{/each}}
   
 </body>
 </html>

<!-- importando o arquivo js do Bootstrap -->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

<script>
	$(document).ready(function(){

  

		 $("input").change(function(){

      alert("valor");
		 	//pega o numero do input valor
		 	// valor = parseInt($("#valor").val());
      //pega o numero de dias
      // dias = parseInt($("#dias").val());
      //faz a operação de multiplicação
      // multi = valor * dias;
      //formata em valor
      // const formatado = multi.toLocaleString();

      // $("valorTotal").val(valor);
		 	// $("#valorTotal").val(formatado);


    });
    });
</script>