<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <title>MobCar - Informações Específicas</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- importando o arquivo css do Bootstrap --> 
  <link rel="stylesheet" href="/css/bootstrap.min.css">
 </head>
 <body>
   <h3 class="text-center text-uppercase my-3">Informações do Carro</h3>
   <div class="container">
   <a href="/listCarros" class="btn btn-primary float-right ml-3 my-3 mr-4">Voltar</a>
   </div>

   <div class="container col-lg-10 col-9 bg-light rounded" style="margin-top: 80px">
      <div class="container row text-center">
         <div class="col-12 mt-3" style="font-size: 30px">
          <div class="row">
          <div class="col-4">Modelo</div>
          <div class="col-4">Placa</div>
          <div class="col-4">Cor</div>
          </div>
         
          {{#each carros}}
          <div class="row text-uppercase" style="font-weight: bold">
          <div class="col-4">{{modelo}}</div>
          <div class="col-4">{{placa}}</div>
          <div class="col-4">{{cor}}</div>
          </div>
          {{else}}
          {{/each}}
           <div class="row">
          <div class="col-4">Categoria</div>
          <div class="col-4">Preço R$</div>
          </div>
          {{#each carros}}
           <div class="row text-uppercase" style="font-weight: bold">
          <div class="col-4">{{categoria}}</div>
          <div class="col-4" id="preco"> {{preco}} </div>
          </div>
          {{else}}
          {{/each}}
          <div class="row">
          <div class="col-4 mt-4">Observação</div>
          </div>
          {{#each carros}}
          <div class="row ">
          <div class="col-10"  style="font-size: 25px; font-weight: bold">{{observacao}}</div>
          </div>
          {{else}}
      </div>
      <h3 class="text-center">Sem Informações</h3>
          {{/each}}
            <div class="container nav justify-content-end mt-3 pb-2">
            <a href="/alugarCarros" class="btn btn-success px-5 text-uppercase">Calcular Aluguel</a>
          </div>
   </div>
 </body>
 </html>

<!-- importando o arquivo js do Bootstrap -->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
